CardIssuanceSystem/CardIssuanceSystem/Web References/CISSB/SBLPaymentServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element ibmSchExtn:docRoot="true" name="FetchAccountInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="AcntInfoRequest" type="tns:AccountInfoRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccountInfoRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="OrganizationCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="BranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ProductCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="SchemeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="FetchAccountInfoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="FetchAccountInfoResult" type="tns:AccountInfoResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccountInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCodeDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OrganizationCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountCategory">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="BranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ProductCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="SchemeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountTitle">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="AccountOpeningDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountCurrency">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountBranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="AvailableBalance">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15" />
            <xsd:fractionDigits value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountRestraints" type="tns:ArrayOfString" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IdentificationNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CustomerID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountNature" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OffPhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountPhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountAddress" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountMobile" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LegacyAcNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="SDNAccountNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="SDNIBAN" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="T24IBAN" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="T24ACNO" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ACALTID5" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ACALTID6" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CompName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CategoryDesc" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="SectorDesc" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfString">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="BEAPIAuthHeader" type="tns:BEAPIAuthHeader" />
  <xsd:complexType name="BEAPIAuthHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="SystemCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="UserID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Password" type="xsd:string" />
    </xsd:sequence>
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="GetEODStatus">
    <xsd:complexType />
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="GetEODStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="GetEODStatusResult" type="tns:EODStatusReponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EODStatusReponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCodeDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="EODStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="DoTransactions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="CreateTranRequest" type="tns:TransactionInfoRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransactionInfoRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="OrganizationCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionBranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="STAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionRefNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="VoucherType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="SystemCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CustomerAccountType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DrCustomerBranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DrCustomerProductCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DrCustomerSchemeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DrCustomerAccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CrCustomerBranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CrCustomerProductCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CrCustomerSchemeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CrCustomerAccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DrGLAccount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="CrGLAccount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="InstrumentType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="InstrumentNo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="InstrumentDate" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="TransactionAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15" />
            <xsd:fractionDigits value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionNarration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="IsReversal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="OrginatingTranIdentNo" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Currency" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Authorization" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PayeeName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="DoTransactionsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="DoTransactionsResult" type="tns:TransactionInfoResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransactionInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCodeDescription" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionBranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="STAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionRefNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TransactionIdentificationNo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="GetTransactionStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="CreateTranStatusRequest" type="tns:TransactionStatusRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransactionStatusRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="STAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="GetTransactionStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="GetTransactionStatusResult" type="tns:TransactionStatusResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransactionStatusResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCodeDescription" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SONTXNSTODAYLISTType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCodeDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="gSONTXNSTODAYLISTDetailType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="mSONTXNSTODAYLISTDetailType">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="AccountNo" type="xsd:string" />
                  <xsd:element minOccurs="0" name="BookingDate" type="xsd:string" />
                  <xsd:element minOccurs="0" name="Reference" type="xsd:string" />
                  <xsd:element minOccurs="0" name="Description" type="xsd:string" />
                  <xsd:element minOccurs="0" name="ValueDate" type="xsd:string" />
                  <xsd:element minOccurs="0" name="Withdrawals" type="xsd:string" />
                  <xsd:element minOccurs="0" name="Deposits" type="xsd:string" />
                  <xsd:element minOccurs="0" name="Balance" type="xsd:string" />
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StmtTodayRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="OrganizationCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="BranchCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ProductCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="SchemeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="AccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="GetStatementToday">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatementTodayRequest" nillable="true" type="tns:StmtTodayRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="GetStatementTodayResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatementTodayResponse" nillable="true" type="tns:SONTXNSTODAYLISTType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>