CardIssuanceSystem/CardIssuanceSystem/Web References/CISSB/SBLPaymentServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="TestService1" originalBindingStyle="document" />
        <binding hasEncoding="false" imported="true" name="TestService" originalBindingStyle="document" />
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="http://10.20.206.22:7800/SBL/SBLPaymentServices?xsd=xsd0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FetchAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAccountInfo" />
  </wsdl:message>
  <wsdl:message name="FetchAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAccountInfoBEAPIAuthHeader">
    <wsdl:part name="BEAPIAuthHeader" element="tns:BEAPIAuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetEODStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetEODStatus" />
  </wsdl:message>
  <wsdl:message name="GetEODStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetEODStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetEODStatusBEAPIAuthHeader">
    <wsdl:part name="BEAPIAuthHeader" element="tns:BEAPIAuthHeader" />
  </wsdl:message>
  <wsdl:message name="DoTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:DoTransactions" />
  </wsdl:message>
  <wsdl:message name="DoTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:DoTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="DoTransactionsBEAPIAuthHeader">
    <wsdl:part name="BEAPIAuthHeader" element="tns:BEAPIAuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetTransactionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="GetTransactionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionStatusBEAPIAuthHeader">
    <wsdl:part name="BEAPIAuthHeader" element="tns:BEAPIAuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetStatementTodayRequestMsg">
    <wsdl:part name="GetStatementTodayParameters" element="tns:GetStatementToday" />
  </wsdl:message>
  <wsdl:message name="GetStatementTodayResponseMsg">
    <wsdl:part name="GetStatementTodayResult" element="tns:GetStatementTodayResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatementTodayBEAPIAuthHeader">
    <wsdl:part name="BEAPIAuthHeader" element="tns:BEAPIAuthHeader" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="FetchAccountInfo">
      <wsdl:input message="tns:FetchAccountInfoSoapIn" />
      <wsdl:output message="tns:FetchAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEODStatus">
      <wsdl:input message="tns:GetEODStatusSoapIn" />
      <wsdl:output message="tns:GetEODStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoTransactions">
      <wsdl:input message="tns:DoTransactionsSoapIn" />
      <wsdl:output message="tns:DoTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <wsdl:input message="tns:GetTransactionStatusSoapIn" />
      <wsdl:output message="tns:GetTransactionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatementToday">
      <wsdl:input name="GetStatementTodayRequest" message="tns:GetStatementTodayRequestMsg" />
      <wsdl:output name="GetStatementTodayResponse" message="tns:GetStatementTodayResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestService" type="tns:TestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAccountInfo">
      <soap:operation soapAction="http://tempuri.org/FetchAccountInfo" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchAccountInfoBEAPIAuthHeader" part="BEAPIAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEODStatus">
      <soap:operation soapAction="http://tempuri.org/GetEODStatus" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEODStatusBEAPIAuthHeader" part="BEAPIAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTransactions">
      <soap:operation soapAction="http://tempuri.org/DoTransactions" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DoTransactionsBEAPIAuthHeader" part="BEAPIAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <soap:operation soapAction="http://tempuri.org/GetTransactionStatus" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTransactionStatusBEAPIAuthHeader" part="BEAPIAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatementToday">
      <soap:operation soapAction="http://tempuri.org/GetStatementToday" />
      <wsdl:input name="GetStatementTodayRequest">
        <soap:body use="literal" />
        <soap:header message="tns:GetStatementTodayBEAPIAuthHeader" part="BEAPIAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatementTodayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestService1" type="tns:TestService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAccountInfo">
      <soap12:operation soapAction="http://tempuri.org/FetchAccountInfo" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEODStatus">
      <soap12:operation soapAction="http://tempuri.org/GetEODStatus" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTransactions">
      <soap12:operation soapAction="http://tempuri.org/DoTransactions" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionStatus" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatementToday">
      <soap12:operation soapAction="http://tempuri.org/GetStatementToday" />
      <wsdl:input name="GetStatementTodayRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatementTodayResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BEAPITransactionService">
    <wsdl:port name="TestService" binding="tns:TestService">
      <soap:address location="http://10.20.206.22:7800/SBL/SBLPaymentServices" />
    </wsdl:port>
    <wsdl:port name="TestService1" binding="tns:TestService1">
      <soap12:address location="http://ws1032/BEAPITranWebService/BEAPITransactionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>